<div class="jumbotron">
  <h1 class="display-4">New Doctor</h1>
  <p class="lead">Create a new doctor.</p>
  <hr class="my-4">
</div>

<%= render 'form', doctor: @doctor %>

<%= link_to 'Back', admin_doctors_path %>
