<div class="container">
  <div class="row">
    <div class="mt-5"></div>
    <div class="col-md-8 offset-md-2 mt-4">
      <% if flash[:notice].present? %>  
        <div class="alert alert-success alert-dismissible fade show" role="alert">
          <%= flash[:notice] %>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      <% end %>
      <div class="card mt-5">
        <div class="card-body">
          <h5 class="card-title">Patient : <%= @appointment.patient.name %></h5>
          <h5 class="card-title">Doctor  : <%= @appointment.doctor.name %></h5>
          <%= link_to root_path, class: "btn btn-primary" do %>
            <i class="fa fa-arrow-left"></i> Back to home
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>