<h1>Editing Specialization Area</h1>

<%= render 'form', specialization_area: @specialization_area %>

<%= link_to 'Show', admin_specialization_area_path(@specialization_area) %> |
<%= link_to 'Back', admin_specialization_areas_path %>
